* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

ul {
    padding: 0px;
}

.container {
    height: auto;
    background-color: rgb(245, 245, 250);
    padding: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
}

.comment__container {
    width: 680px;
    padding: 20px;
}

.comment__container > ul > li {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 2px rgba(162, 177, 237, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.single__comment__recommend,
.single__comment__recommend__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single__comment__recommend {
    margin-right: 20px;
    justify-content: flex-start;
}

.single__comment__origin,
.single__comment__reply__user {
    display: grid;
    grid-template-columns: 1fr 9fr;
}

.single__comment__reply__user {
    margin-top: 20px;
}

.single__comment__recommend__container {
    width: 48px;
    height: 100px;
    border-radius: 8px;
    background-color: rgb(245, 245, 250);
    justify-content: space-around;
}

.recommend__up,
.recommend__down {
    width: 12px;
    height: 12px;
    border: none;
    background-size: cover;
}

.recommend__up {
    background: url("./images/icon-plus.svg") center no-repeat;
}

.recommend__down {
    background: url("./images/icon-minus.svg") center no-repeat;
}

.recommend__count {
    color: rgb(60, 60, 130);
    font-weight: 700;
}

.single__comment__container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.single__comment__header {
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.single__comment__user__info {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.single__comment__user__info > * {
    margin-right: 8px;
}

.single__comment__user__info > img {
    height: 100%;
}

.comment__user__name {
    color: rgb(45, 45, 45);
    font-weight: 700;
}

.comment__date {
    color: rgb(85, 85, 85);
}

.single__comment__icons {
    display: flex;
    flex-direction: row;
}

.single__comment__icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
    color: rgb(93, 93, 171);
    font-weight: 700;
}

.single__comment__icon[name="delete"] {
    color: rgb(238, 95, 99);
}

.comment__icon {
    margin-right: 4px;
}

.single__comment__reply__line {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.reply__line {
    width: 2px;
    height: 100%;
    background-color: rgb(236, 236, 236);
}

.reply__to {
    margin-right: 4px;
    color: rgb(93, 93, 171);
    font-weight: 700;
}

.single__comment__content {
    display: flex;
    align-items: center;
    color: rgb(85, 85, 85);
    font-size: 14px;
    flex: 1;
}

.single__comment__reply__list > li {
    margin-bottom: 20px;
}

/* footer */

footer {
    height: 100px;
    padding: 20px;
    background-color: rgb(61, 58, 58);
}

.attribution {
    color: #fff;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: rgb(62, 82, 163);
}
